{%- set metaTitle -%}
    {%- if not title -%}{{ site.title }} - {{ site.description | safe }}
    {%- else -%}{{ title | safe }} | {{ site.title }}
    {%- endif -%}
{%- endset -%}
{%- set metaDesc -%}
    {%- if not description -%}{{ site.description | safe }}
    {%- else -%}{{ description | safe }}
    {%- endif -%}
{%- endset -%}
{%- set metaKeywords -%}
    {%- if tags -%}{%- for tag in tags -%}{{ tag }},{%- endfor -%}{%- endif -%}
    {%- if site.keywords -%}
        {%- for keyword in site.keywords -%}
            {{ keyword }}{%- if not loop.last %},{% endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endset -%}
<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ metaTitle }}</title>
    <meta name="title" content="{{ metaTitle }}">
    <meta name="description" content="{{ metaDesc }}">
    <meta name="keywords" content="{{ metaKeywords }}">
    <meta name="author" content="{{ author.name }}">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ site.url | url }}{{ page.url }}">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | url }}">
    <link rel="apple-touch-icon" href="{{ '/assets/img/apple-touch-icon.png' | url }}">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>	

<body class="flex flex-col h-screen bg-white text-slate-800 break-words">
    {% include "partials/header.njk" %}
    <main class="mx-7 lg:mx-6 mt-32 flex-grow">
        {% if layout === "post" %}
        {{ content | safe }}
        {% else %}
        <div class="max-w-5xl mx-auto">
            {{ content | safe }}
            
        </div>
        
        {% endif %}
    </main>
<!-- Subscribe to Newsletter Section -->
<section class="mt-20 px-10 py-8 " style="background-color: skyblue;">
    <div class="max-w-5xl mx-auto text-center">
        <h2 class="text-2xl font-semibold mb-4 text-slate-700">Subscribe to Our Newsletter</h2>
        <p class="text-gray-600 mb-8">Stay updated with the latest news and offers.</p>
        <form name="subscribe" method="POST" action="/success" netlify-honeypot="bot-field" data-netlify="true">
            <div class="flex items-center justify-center">
                <input type="email" id="email" name="email" class="w-full px-4 py-2 border rounded-l focus:outline-none focus:border-blue-400" placeholder="Enter your email" required />
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-r focus:outline-none focus:shadow-outline">Subscribe</button>
            </div>
        </form>
    </div>
</section>

    {% include "partials/footer.njk" %}
    <script src="{{ '/assets/js/bundle.js' | url }}"></script>
</body>

</html>