---
layout: successlayout
title: Subscription Successful
---

<div class="max-w-2xl mx-auto p-6">
    <h2 class="text-2xl font-semibold mb-2">Submission Successful</h2>
    <p>Thank you for reaching out to us. Your message has been received and our team will get back to you shortly. In the meantime, feel free to explore more of our content and offerings.</p>
</div>
